.main {
    text-align: center;

    .main_header {
        background: black;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: calc(15rem - 100px);

        h2 {
            margin: 0 0;
        }
        .search {
            input {
                width: 65%;
                height: 30px;
            }
        }
    }
    .beers {
        display: grid;
        gap: 2rem 2rem;
        padding-top: 25px;
        grid-template-columns: 280px 280px 280px;
        justify-content: center;
        > div{
            box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        }
    }
    @media (max-width: 968px){
        .main_header{
            width: 100vw;
        }
        .beers {
            margin: 0 0;
            gap: 2rem 2rem;
            grid-template-columns: 220px 220px 220px;
        }
    }
}